/*General*/
*{
    box-sizing: border-box;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
}
a{
    color: #0080ff;
}
a:hover{
    color: #a9a9a9;
    text-decoration: underline;
}
b{
    font-weight:500;
}
l{
    font-style:italic;
}
p{
    font-size: 16px;
    color: #000000;
    text-align: justify;
    line-height: 30px;
}
h1{
    color: #444444;
    font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;
    word-spacing: 5px;
    letter-spacing: 5px;
    text-align: center;
}
h2{
    color: #444444;
    letter-spacing: 3px;
    font-family: 'Noto Sans', sans-serif;
}
h3{
    font-size:15px;
}

ul li{
    line-height: 30px;
}
.main_container{
    position: center;
    margin-left: 27%;
    margin-right: 27%;
}

/* Navigation bar */
.navbar_items ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
.navbar_items ul li{
    padding-right: 5%;
    padding-left: 5%;
    text-transform: uppercase;
}
.navbar a{
    color: black;
    font-size: 18px;
}
.navbar a:hover{
    color: #a9a9a9;
}
/* Navigation bar */

/* About */
.about{
    display: flex;
}
.image_container{
    display: grid;
    justify-items: center;
    font-size: 25px;
    word-spacing: 15px;
}
.about img{
    align-content:center;
    width: 240px;
    border-radius: 50%;
    padding-right:5%;
}
/* About */

/* skills */
.skills p{
    font-size: 14px;
    line-height: 15px;
}
/* skills */

/* footer */
.footer p{
    text-align: center;
}
/* footer */

/*research*/
.research img{
    width: 350px;
}
.research ul{
    list-style: outside;
}
.pro{
    display:flex;
    height:421px;
}
.buttons{
    display: grid;
    justify-content: left;
    width: 20%;
}
.projects{
    padding: 0 5% 0 5%;
    overflow-y: scroll;
    width: 80%;
}
.buttons button{
    background-color: white;
    border-color: whitesmoke;
    border-width: 0.5px;
    color: #0080ff;
    box-shadow: 2px 2px 2px 0px lightgray;
    border-radius: 5%;
    margin: 5px;
}
.other_buttons button:hover, .buttons button:hover{
    color: #a9a9a9;
    box-shadow: 5px 5px 5px 0px lightgray;
    text-decoration: underline;
}
.project2, .project3, .project4, .project5{
    display:none;
}   
.project1{
    display:flex;
}
.projects img{
    width: 200px;
    float: right;
    padding-left: 4%;
    padding-bottom: 2%;
    margin-top: 4%;
}
.projects p{
    font-size: 12px;
    line-height: 24px;
}

/*photos*/
.other{
    display: navbar.width;
    height: 663px;
}
.other_buttons{
    display: flex;
    justify-content: center;
}
.other_buttons button{  
    font-size:15px;  
    background-color: white;
    border-color: whitesmoke;
    border-width: 0.5px;
    color: gray;
    box-shadow: 2px 2px 2px 0px lightgray;
    border-radius: 10%;
    margin: 5px;
    padding: 0px 30px 0px 30px;
}
.names{
    display: flex;
    justify-content: center;
}
.photoname{
    padding: 0 10px 0 10px;
    color:#0080ff;
}
.photoname:hover{
    text-decoration:underline;
    color:#a9a9a9;
}
.album{
    overflow-x: scroll;
    overflow-y: hidden;
    height: 550px;
    width: inherit;
    display: flex;
    margin-left: -10%;
    margin-right: -10%;
}
.album img{
    height: 450px;
    padding: 10px;
    margin-top: 30px;
}
/*
.music{
    display:grid;
}
.music img{
    width: 100px;
}
.music img:hover{
    transform: scale(1.1);
}
.piece {
    text-align: center;
}
*/


